

.about .about-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    color: white;
  }
  .about .about-content .about-text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    color: white;
  }
  
  .about .about-content .about-text2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    color: white;
  }
  
  .about .about-content .about-text  {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
  }
  .about .about-content .about-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
  }
  .about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }
  
  .about .about-content .about-text2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    color: white;
  }
  
  
  .about .about-content .about-text2 h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
  }
  .about .about-content .about-text2 p {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }
  .about .about-content .personal-info {
    -ms-flex: 0 0 60%;
    flex: 0 0 40%;
    max-width: 60%;
    margin-top: 40px;
  }
  .about .about-content .personal-info .info-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #302e4d;
    margin: 0;
    border-bottom: 1px solid white;
  }
  .about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
  }
  .about .about-content .personal-info .buttons {
    margin-top: 30px;
  }
  .about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
  }
  .about .about-content .skills {
    /* background-color: blue; */
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
  }
  .about .about-content .skills .skill-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #302e4d;
    text-transform: capitalize;
    margin: 0;
  }
  .about .about-content .skills .skill-item .progress {
    background-color: #e3e3e3;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
  }
  .about .about-content .skills .skill-item {
    margin-bottom: 30px;
  }
  .about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
  }
  .about .about-content .skills .skill-item .skill-percent {
    /* display: none; */
    line-height: 40px;
    color: #302e4d;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
  }
  .about .about-content .education {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  .about .about-content .experience {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  .about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
  }
  .about .about-content .timeline-box {
    height: auto;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .timeline2{
    background-color: #222222;
    height: auto;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }
  .about .about-content .timeline {
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative; background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }
  .about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
  }
  .about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 50px;
  }
  .about .about-content .timeline .timeline-item::before {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
  }
  .about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  .about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: #504e70;
  }
  .about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
  }
  .about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
  }
  .about .about-content .timeline .timeline-text {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }